<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div>
  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #3399FF;margin-bottom:0px">
    <a class="navbar-brand" style="color:white;padding-left: 36px;font-size: 25px;">WaterBox
    </a>
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top" style="background-color:white;margin-left: 70px;"></span>
        <span class="hamb-middle" style="background-color:white;margin-left: 70px;"></span>
        <span class="hamb-bottom" style="background-color:white;margin-left: 70px;"></span>
      </button>

    </div>
  </nav>
</div>
<div id="map"></div>



<div id="wrapper">
  <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" style="background-color:#F2F2F2;margin-top:52px;">
    <ul class="nav sidebar-nav">
      <li style="margin-top:20px">
        <a href="/map"><i class="fa fa-globe" style="display:inline;padding-right: 10px;color:#3399FF"></i>地圖資訊</a>
      </li>
      <li>
        <a href="/ph">
          <p style="font-weight: bold;display:inline;padding-right: 5px;color:darkgreen">pH</p>酸鹼色值表
        </a>
      </li>
      <li>
        <a href="/ppm"><i class="fa fa-clipboard" style="display:inline;padding-right: 7px;color:red"></i>電解對照表</a>
      </li>
    </ul>
  </nav>

</div>
<!-- /#wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<body>
  <div id="hidebg"></div>
  <div id="hidebox">
    <p class="p1"><input class="button1" type="button" value="×" onClick="hide();"></p>
    <div >
      <p style="font:bold;font-size: 20px;margin-left: 20px;display:inline-block;">近日變化圖</p>

      <select name="chart" onchange="chart_change()">
        　<option value="ph">酸鹼度</option>
        　<option value="us">導電度</option>
        　<option value="v">電壓</option>
        　<option value="mA">電流</option>
      </select>
    </div>
    <div class="iframe-container">
    <iframe  frameborder="no"  id="iframe"src="/chart?chart=ph"></iframe>
    </div>
  </div>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0gJ3jmbuzudfCerqW2Cqbtb_9POph7sk&callback=initMap">
    </script>
</body>

</html>

<script src="javascripts/ph.js"></script>
<script src="javascripts/us.js"></script>
<script src="javascripts/v.js"></script>
<script src="javascripts/mA.js"></script>
<script>
  $(document).ready(function () {
    $('[data-toggle="offcanvas"]').click(function () {
      $('#wrapper').toggleClass('toggled');
    });
  });
  function show()  //顯示隱藏層和彈出層 
  {
    var hideobj = document.getElementById("hidebg");
    hidebg.style.display = "block";  //顯示隱藏層 
    hidebg.style.height = document.body.clientHeight + "px";  //設定隱藏層的高度為當前頁面高度   px是字尾
    document.getElementById("hidebox").style.display = "block";  //顯示彈出層 
  }
  function hide()  //去除隱藏層和彈出層 
  {
    document.getElementById("hidebg").style.display = "none";
    document.getElementById("hidebox").style.display = "none";
  }
</script>
<script>
  function chart_change() {  //下拉選單事件
    var select = $('select  option:selected').val();
    $('#iframe').attr("src","/chart?chart="+select);
  }
</script>
<script>

  function initMap() {
    var uluru = { lat: 22.992972, lng: 121.059386 };   //初始化地圖經緯度
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,     //放大倍率
      center: uluru
    });
    //地圖標點
    var marker = new google.maps.Marker({
      position: uluru,
      icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
      map: map
    });
    var marker1 = new google.maps.Marker({
      position: { lat: 25.0500000, lng: 120.5150337 },
      icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
      //animation: google.maps.Animation.DROP,
      map: map
    });
    //地圖標記資訊視窗
    var infowindow = new google.maps.InfoWindow({
      content: '酸鹼值:'+feed[feed.length-1].field3+'<br><br>'+
      '導電度:'+feeds2[feeds2.length-1].field2+'<br><br>'+
      '電壓:'+feeds3[feeds3.length-1].field4+'<br><br>'+
      '電流:'+feeds4[feeds4.length-1].field5+'<br><br>'+
      '<button id="btn" class="btn">近日變化</button>',
      position: { lat: 25.0500000, lng: 120.5150337 },
      maxWidth: 200,
      //pixelOffset: new google.maps.Size(100, -20) 
    });
    infowindow.addListener('domready', function () {     //近日變化按鈕
      var btn = document.getElementById('btn');
      btn.addEventListener('click', function () {
        show();
      });
    });
    //點下標記打開資訊視窗
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>
<style>
  iframe{
    width:90%;
    height: 70%;
    margin: 0 10px
    
  }
  select {
    width: 150px;
    margin-left: 20px;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  a {
    font-size: 17px;
    color: black
  }

  li {
    padding-left: 50px;
    padding-top: 10px;
  }


  #wrapper.toggled #sidebar-wrapper {
    /*toggled時寬度由零變到220*/
    width: 220px;
  }

  #sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }


  .hamburger {
    position: fixed;
    top: 13px;
    z-index: 999;
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 100px;
    background: transparent;
    border: none;
  }

  .hamburger:hover,
  .hamburger:focus,
  .hamburger:active {
    outline: none;
  }


  .hamburger.is-closed .hamb-top,
  .hamburger.is-closed .hamb-middle,
  .hamburger.is-closed .hamb-bottom,
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-middle,
  .hamburger.is-open .hamb-bottom {
    position: absolute;
    height: 3px;
    width: 100%;
  }

  .hamburger.is-closed .hamb-top {
    top: 4px;
  }

  .hamburger.is-closed .hamb-middle {
    margin-top: -2px;
  }

  .hamburger.is-closed .hamb-bottom {
    bottom: 5px;
  }



  #hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #002;
    width: 100%;
    /*寬度設定為100%，這樣才能使隱藏背景層覆蓋原頁面*/
    filter: alpha(opacity=30);
    /*設定透明度為60%*/
    opacity: 0.3;
    /*非IE瀏覽器下設定透明度為60%*/
    display: none;
    /* http://www.jb51.net */
    z-Index: 2;
  }

  #hidebox {
    position: absolute;
    border: 1px solid #99CCFF;
    width: 600px;
    height: 350px;
    top: 100px;
    left: 30%;
    background-color: #fff;
    display: none;
    z-Index: 3;
  }

  #content {
    text-align: center;
    cursor: pointer;
    z-Index: 1;
  }

  .button1 {
    float: right;
    cursor: pointer;
  }

  .button1:hover {
    background-color: #c75050;
    color: white;
  }

  .button2 {
    background-color: #6a9f3f;
    font-size: 18px;
  }

  #hidebox .p1 {
    background-color: #336699;
    width: 100%;
    border: 1px solid silver;
    float: left;
    margin-top: 0px;
  }
  
</style>